/* div.space{
	height: 150px;
}

div.col{
	display: flex; 
	justify-content: space-between; 
	padding: 10px;
}

a.arrow{
	margin: 10px;
}

i{
	font-size: 30px;
	color: white;
}

h2{
	font-weight: bold;
	margin: 10px;
} */