.bootstrap-datetimepicker-widget table td.day {
    height: 40px;
    line-height: 30px;
    width: 20px;
}

.timepicker{
    display: none;
}

h3{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#espacio{
    height: 48px;
}

#header{
    position: relative;
    left: 15px;
}

#buttons{
    padding-left: 15px;
    padding-right: 15px;
}
