.divShowCoursesContent{
    min-height: 500px;
    max-height: fit-content;
}
.divShowCoursesContent h2{
    padding-bottom: 220px;
}

.spanShowBlade{
    min-width: fit-content;
    width: 150px;
    margin-bottom: 5px;
}
