

#header{
 position:relative;
 left:15px;
}

#sig{
    width: 200px;
    height: 150px;
}

.file-upload input[type='file'] {
    display: none;
  }
  
 
 
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .custom-file-label.rounded-pill {
    border-radius: 50rem;
  }
  
  .custom-file-label.rounded-pill::after {
    border-radius: 0 50rem 50rem 0;
  }
  .calendar{
      margin-left: 300px;
      margin-top: 100px;
  }

  .bootstrap-datetimepicker-widget table td.day {
    height: 50px;
    line-height: 45px;
    width: 20px;
}

.day old, day old weekend{
    background-color: black;
}

.timepicker{
    display: none;
}

.bootstrap-datetimepicker-widget table th.prev {
    height: 40px;
    line-height: 40px;
    width: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    height: 40px;
    line-height: 40px;
    width: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table th.next {
    height: 40px;
    line-height: 40px;
    width: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 0px;
}
.margin{
    margin-left: 240px;
}
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: #868e96;
    background-color: #F8F9FA;
}

.dow{
    background-color: #F8F9FA;
    border-radius: 0px;
}

.picker-switch table{
    display: none;
}

.form-group{
    margin-bottom: 0px;
}

.table tbody{
    height: 100%;
}

h3{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#espacio{
    height: 48px;
}

#header{
    position: relative;
    left: 15px;
}

#buttons{
    padding-left: 15px;
    padding-right: 15px;
}

.center{
 text-align: center;
}
.calendario{
    height: 700px;
}

h1{
    padding: 10px;
}
/*.dropdown{
    padding: 10px;
    padding-bottom: 20px;
}*/
table.dataTable thead th{
    background-color: #4d5358;
    border-color: #454d55;
    color: #fff;

}
.boton button {
    background-color:white;
    

}
.botones{
    display:flex;
    flex-direction: row;
}
.botones *{
    padding-left: 10px;
}

.cabezeraTabla{
    color: #fff;
    background-color: #4d5358;
    border-color: #454d55;
}


table.dataTable thead {
    background-color: #4d5358;
    border-color: #454d55;
    color: #fff;

}
.tablaTimetable{
    width: 95%;
    
}

.marginado{
    
    width: 100%;
}
.header{
    height: 100px;
}


th{
    border: solid 2px black;
    width: 500px;
    text-align: center;
    background-color:black;
    color: white;
}
.td{
    
    background-color:gray;
    text-align: center;
    color: white;
    height: 50px;
}
.tabla{
    text-align: center;
    background-color: whitesmoke;
}