.table-states{
    max-width: 500px;
    min-width: 15%;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
.add-form{

    margin-right: 20%;
    margin-left: 10px;
    padding-right: auto;
    padding-left: 10px;
}