h1{
    padding: 10px;
}
.dropdown{
    padding: 10px;
    padding-bottom: 20px;
}
table.dataTable thead th{
    background-color: #4d5358;
    border-color: #454d55;
    color: #fff;

}
.boton button {
    background-color:white;
    

}
.botones{
    display:flex;
    flex-direction: row;
}
.botones *{
    padding-left: 10px;
}

.cabezeraTabla{
    color: #fff;
    background-color: #4d5358;
    border-color: #454d55;
}


table.dataTable thead {
    background-color: #4d5358;
    border-color: #454d55;
    color: #fff;

}
.tablaTimetable{
    width: 95%;
    
}

.marginado{
    
    width: 100%;
}
.header{
    height: 50px;
    
}


th{
    border: solid 2px black;
    width: 500px;
    text-align: center;
    background-color:black;
    color: white;
}
.td{
    
    background-color:gray;
    text-align: center;
    color: white;
    height: 50px;
}
.tabla{
    text-align: center;
    background-color: whitesmoke;
}
.container{
    padding-left:21%;
    
    min-width: 1900px;
}
.descanso{
    background-color: rgb(235, 233, 233);
}

.tdhorario{
    height: 50px;
    
}