h1{
    padding: 10px;
}

.boton button {
    background-color:white;
    

}
.boton {
    text-align: left;
}
.botones{
    display:flex;
    flex-direction: row;
}

.observaciones{
    background-color: rgb(255, 249, 226);
    border-radius: 5px;
    padding-bottom: 6%;
}
.tablas{
    display: flex;
    flex-direction: column;

}

.espacio{
    width: 10px;
}

.card{
    margin-bottom: 5px;
}

.anchuraselect{
    text-overflow:ellipsis;
    display: inline;
    width: 100%;
}
select{
    text-overflow:ellipsis;
    display: inline;
    width: 30px;
}
.profesor{
    width: fit-content;
}
.borrar:hover .fa-trash-alt{
    color:white;
}
.borrar .fa-trash-alt{
    color:#d9534f;
}
.tooltip .tooltiptext{
    background-color: #454d55;
}